*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #494949;
    padding: 0.2rem;
}
.container{
    position: relative;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 8px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
.child{
    box-shadow: 5px 5px #000000;
}
.box1{
    background-color: green;
    border-radius: 100% 0 0 0;
}
.box2{
    background-color: red;
    border-radius: 0 100% 0 0;
}
.box3{
    background-color: blue;
    border-radius: 0 0 0 100%;
}
.box4{
    background-color: yellow;
    border-radius: 0 0 100% 0;
}
.points{
    position: absolute;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    font-size: 5rem;
    
}
.starter{
    width: 12rem;
    height: 5vh;
    color: white;
    background-color: #272727;
    border: 1px solid rgb(27, 27, 27);
    box-shadow: 5px 5px #000000;
    margin-bottom: 1rem;
    align-content: center;
    font-size: 1.5rem;
    text-align: center;
}
.starter:hover{
    box-shadow: none;
    background-color: #000000;
}
#point, #max-point{
    background-color: black;
    border-radius: 2%;
    color: white;
    height: 100px;
    width: 100%;
    align-content: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
#max-point{
    border-bottom: 1px solid red;
}
#message{
    margin-top: 1rem;
    font-size: 0;
    font-weight: bold;
    transition: font-size 0.6s ease-in;
}

@media (min-width: 360px) and (max-width: 600px){
    .container{
        height: 350px;
        width: 350px;
        margin-top: 4rem;
    }
    .points{
        width: 50vw;
        left: 25vw;
        bottom: 0%;
    }
    .starter{
        margin-top: 2rem;
    }
}
@media (min-width: 601px) and (max-width: 1000px){
    .container{
        height: 400px;
        width: 400px;
        margin-top: 3rem;
    }
    .points{
        width: 25vw;
        left: 37.9vw;
        bottom: 5%;
    }
    .starter{
        margin-top: 2rem;
    }
}
@media (min-width: 1001px) and (max-width: 1200px){
    .container{
        height: 400px;
        width: 400px;
        margin-top: 3rem;
    }
    .points{
        width: 25vw;
        left: 37.9vw;
        bottom: 5%;
    }
    .starter{
        margin-top: 2rem;
    }
}
@media (min-width: 1201px){
    .container{
        margin-top: 1rem;
    }
    .starter{
        width: 12rem;
        margin-top: 2rem;
    }
    #message{
        margin-top: 1rem;
    }
}